button {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    border: none;
    border-radius: 25px;
    margin: 1rem;
    cursor: pointer;
    transition: 1s;
    height: 4rem;
}

button a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1rem;
    transition: 1s;
}

button:hover {
    background-color: var(--secondary-color);
    transition: 1s;
}