/* HEADER */

header {
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('/assets/images/yarn-knitting-orange-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

header .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vh;
    height: 5rem;

}
header .header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0 0.25rem;
}

header .header ul li {
    display: inline-flex;
    list-style: none;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    margin: 0 0.25rem;
}

header .header ul li a { 
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 0.5rem 1rem;
    transition: 1s;
}
header .header img {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin: 0 0.25rem;
}

header .header ul li a:hover {
    background-color: var(--secondary-color);
    border-radius: 25px;
    transition: 1s;
}