@import url('global.css');
@import url('reset.css');

/* COMPONENTES */
@import url('/assets/styles/components/_header.css');

/* MAIN */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}



.produtos {
    /* margin-top: 6rem; Evita sobreposição com o header */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Layout responsivo em grid */
.produtos ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colunas */
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 1rem;
    width: 100vw;

}

/* Item do produto */
.produto-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 25px;
    padding: 0.5rem;
    width: 100%;
    text-align: center;
}
.produto-item strong {
    margin-top: 0.1rem;
    background-color: var(--primary-color);
    width: 7rem;
    border: 1px solid var(--secondary-color);
    border-radius: 25px;
    padding: 0.1rem;
}
/* Imagem responsiva */
.produto-item img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

/* Estilização do preço */
.produto-preco {
    font-weight: bold;
    font-size: 1.2rem;
    color: #333; /* Ajuste conforme seu design */
    margin-top: 0.5rem;
}

/* Media Queries para adaptação */
@media (min-width: 768px) {
    .produtos ul {
        grid-template-columns: repeat(3, 1fr);
        max-width: 800px;
    }
}

@media (min-width: 1024px) {
    .produtos ul {
        grid-template-columns: repeat(5, 1fr);
        max-width: 1000px;
    }
}
/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    transition: 1s;
}

/* Conteúdo do modal */
.modal-content {
    position: relative;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 80%;
}

/* Imagem ampliada */
#modal-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    
}

/* Botão de fechar */
.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    cursor: pointer;
}
