/* HEADER */

header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    background-image: url('/assets/images/yarn-knitting-orange-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

header .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vh;
    height: 5rem;

}
header .header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0 0.25rem;
}

header .header ul li {
    display: inline-flex;
    list-style: none;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    margin: 0 0.25rem;
}

header .header ul li a { 
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 0.5rem 1rem;
    transition: 1s;
}
header .header img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 0.25rem;
}

header .header ul li a:hover {
    background-color: #f0545496;
    border-radius: 25px;
    transition: 1s;
}

/* MAIN */
.initial-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    position: absolute;
    background-image: url('/assets/images/white-wool-sweater-background.jpg') ;
    backdrop-filter: opacity(0.5);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.initial-page h1 {
    padding: 1rem;
    font-size: 2rem;
    color: #252424;
    text-transform: uppercase;
    text-align: center;
    margin: 1rem;
}
.initial-text {
    padding: 1rem;
    font-size: 1rem;
    color: #252424;
    text-align: center;
    margin: 1rem;
    font-weight: 500;
}

button {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    padding: 0.5rem 1rem;
    background-color: #f0545496;
    border: none;
    border-radius: 25px;
    margin: 1rem;
    cursor: pointer;
    transition: 1s;
}

button:hover {
    background-color: #f05454;
    transition: 1s;
}
/* FOOTER */