@import url('global.css');
@import url('reset.css');


/* COMPONENTES */
@import url('/assets/styles/components/_header.css');
@import url('./components/_footer.css');
@import url('./components/_button.css');
/* MAIN */
html , body{
    height: 100vh;
}
main {
    height: 80vh;
 
    align-items: center;
}
.initial-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    position: absolute;
    background-image: url('/assets/images/white-wool-sweater-background.jpg') ;
    backdrop-filter: opacity(0.5);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 10rem;
}

.initial-page h1 {
    padding: 1rem;
    font-size: 2rem;
    color: #252424;
    text-transform: uppercase;
    text-align: center;
    margin: 1rem;
}
.initial-text {
    padding: 1rem;
    font-size: 1rem;
    color: #252424;
    text-align: center;
    margin: 1rem;
    font-weight: 500;
}


/* FOOTER */


.footer p{
    color: #252424;
    font-size: 1rem;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    width: 100%;
    font-weight: bold;
}

.footer li{
    list-style: none;
    width: 100vw;
    font-weight: bold;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0.3rem;
    padding: 0.3rem;
}

.footer li a {
    text-decoration: none;
    color:#252424;
}

.footer ul li img{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    margin: 0.25rem;

}